<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
		<title>Eat Da Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assets/js/publicBurger.js"></script>
		<img src = "/public/assets/img/download.png" alt = "burger image">
		<h1 style = "color:red; text-align:center">Eat-Da-Burger</h1>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>